<h1><%= @article.title %>
  <%= link_to article_path, method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
  <%= link_to  edit_article_path do %>
  <i class="fas fa-pen"></i>
  <% end %>
</h1>
<hr>

<p><%= @article.content %></p>
